.body {
  text-align: center;
}

.header {
  height: 550px;
  width: 100%;
  background-color: orange;
}

.header-box {
  height: 50px;
  background-color: red;
}

.main-damy {
  width: 100%;
}

.main {
  height: 1400px;
  margin: 0 960px;
  background-color: lightgreen;
  display: flex;
  flex: auto;
  justify-content: center;
  text-align: center;
}

.main-box {
  background-color: green;
  width: 500px;
}

.footer {
  height: 100px;
  background-color: blue;
}
