* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.fab {
  font-size: 32px;
}

.position {
  position: absolute;
  right: 40px;
  top: 100px;
}

@media screen and (max-width:768px) {
  .position {
    display: block;
  }
}